.bookmark {
  float: left;
  border-style: solid;
  border-width: 1px;
  margin: 5px;
  padding: 5px 10px 5px 10px;
  width: 300px;
  height: 200px;
}

.bookmark-content {
  overflow: auto;
  height: 90%;
}

.bookmark-content h3 {
  margin-top: 5px;
  margin-bottom: 7px;
}

.bookmark-content p {
  margin: 2px;
}

.bookmark-footer {    
  float: right;
  height: 10%;
}

.footer > a {  
  font-size: smaller;
}