nbproject/
target/
.settings/
.project
.classpath
.factorypath
nb-configuration.xml
nbactions.xml

application/src/main/resources/public/js/*.js 
application/src/main/resources/public/js/*.js.map

.vscode/

node/
node_modules/

config/*.properties
config/*.xml
