.flair {
  float: right;
}

.category-box {
  float: right;
  font-size: smaller;
  font-style: italic;
}

#clickme {
  cursor: pointer;
}

#clickme:hover {
  cursor: pointer;
  background-color: #e8eaee;
}