[Unit]
Description=MyStart Bookmark Service

Wants=network.target
After=syslog.target network-online.target postgresql.service

[Service]
Type=simple
ExecStart=/opt/mystart/bin/mystart
Restart=on-failure
RestartSec=20
KillMode=process
User=mystart
Group=mystart
Environment="JAVA_HOME=/opt/java-21"

[Install]
WantedBy=multi-user.target