body {
  margin: 5px;
  padding: 0px;
  background-color: #444;
}

.menu {
  right: 0;
  top: 0;
  position: relative;
  width: 25%;
  float: right;
}

.content {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.box {
  background-color: #bbb;
  color: #000;
  border-radius: 3px;
  padding: 5px;
  height: 50px;  
}

.selected {
  background-color: #fff;
}

.command {
  text-align: center;  
}

.command input {
  /* styling for input */
}
