:root {
  --menu-height: 60px;
}

body {
  margin: 5px;
  padding: 0px;
  background-color: #444;
}

@keyframes menu-glide-in {
  0%   { bottom: calc(0px - var(--menu-height)); }
  100% { bottom: 0px; }
}

.glide-in {
  animation: 'menu-glide-in' 500ms;
  animation-fill-mode: forwards;  
}

@keyframes menu-glide-out {
  0%   { bottom: 0px; }
  100% { bottom: calc(0px - var(--menu-height)); }
}

.menu-out {
  bottom: calc(0px - var(--menu-height));
}

.glide-out {
  animation: 'menu-glide-out' 500ms;
  animation-fill-mode: forwards;  
}

#menu {
  border-radius: 3px;
  padding: 5px;
  background-color: #aaaa00;
  width: 90%;
  position: fixed;
  left: 5%;  
}

.menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;    
}

.menuitem {
  background-color: #ffff00;
  color: #000;
  border-radius: 3px;
  padding: 5px;
  height: calc(var(--menu-height) - 20px);  
}

.content {  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.box {
  background-color: #bbb;
  color: #000;
  border-radius: 3px;
  padding: 5px;
  height: 40px;  
}

.selected {
  background-color: #fff;
}

.command {
  text-align: center;  
}

.command input {
  /* styling for input */
}
